[Unit]
Description=Qemu/KVM Virtual Machine %I
After=network.target dnsmasq.service
Wants=network.target dnsmasq.service

[Service]
Type=forking
EnvironmentFile=/etc/kvm/%I.conf
PIDFile=/run/kvm/%I.pid
TimeoutStopSec=60

ExecStart=/usr/bin/qemu-system-x86_64 \
    -machine accel=kvm --enable-kvm \
    -daemonize \
    -display ${DISPLAY} \
    -pidfile /run/kvm/%I.pid \
    -monitor unix:/run/kvm/%I.monitor,server,nowait \
    -runas nobody \
    -name %I \
    -drive file=/VMs/%I-disk.img,if=virtio,index=0,format=raw \
    -net nic,model=virtio,macaddr=${MACADDR} \
    -net bridge,br=br0 \
    -m ${MEMORY} \
    -mem-path /dev/hugepages \
    -smp ${SMP} \
    $EXTRA_ARGS

ExecStop=/bin/bash -c "echo system_powerdown | nc -U /run/kvm/%I.monitor -q 10 &> /dev/null"

[Install]
WantedBy=multi-user.target
